.answer
  .answer__icon
    .icon-success
    .icon-fail
  .answer__text
    p.answer__success
      | Спасибо
      br
      | Ваша заявка отправлена
      br
      | В ближайшее время мы с Вами свяжемся!
    p.answer__fail
      | Упс! Что-то пошло не так
      br
      | Попробуйте отправить заявку позже!
  .answer__button
    button.button ОК