main.content
  .container.content__container
    .content__company-info.company-info
      h1.company-info__title.title
        span.title__a консалтинговая фирма
        span.title__name Джи Ай Си
      .company-info__desc C 1997 года на рынке оценки.<br/>Специализируемся на консалтинговых услугах, стоимостном консультировании и оценке.
    .form-wrapper.content__form.flip-container
      .flipper
        include ./form
        include ./answer  