footer.footer
  .container.footer__container
    .footer__copyright &copy; 2018 Все права защищены. ОГРН 5177746042030. ИНН 9709012450. 
      a.policy-link(href="Personal-Data-Policy.pdf" target="_blank") Политика конфиденциальности.