header.header
  .container.header__container
    .header__logo
    .header__contacts.contacts
      .contacts__item      
        .contacts__icon
        .contacts__communication
          a.contacts__phone(href="tel:+79856464284") +7(985) 646 42 84
          a.contacts__email(href="mailto:info@giconsalting.ru") info@giconsalting.ru
      .contacts__item
        .contacts__icon
        .contacts__address Москва, ул. Марксистская, д.34, <br/> корп.10 ,помещение 31, эт. 6
      .contacts__item
        a.button.contacts__social(href='facebook.com') Facebook