.content {
  flex-grow: 1;
  display: flex;
  align-items: center;

  @include respond-to(tablet) {
    padding: 20px 0;
  }


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @include respond-to(tablet) {
      flex-direction: column;
    }
  }

  &__company-info {
    max-width: 660px;
    margin-right: 20px;

    @include respond-to(tablet) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  &__form {
    flex-basis: 30%;
    flex-shrink: 0;
  }
}

.company-info {  
  @include respond-to(desktop) {
    font-size: 15px;
  }
  @include respond-to(laptop) {
    font-size: 14px;
  }
  @include respond-to(phone) {
    font-size: 12px;
  }

  &__desc {
    font-size: em(28px);
    
    @include respond-to(phone) {
      font-size: 18px;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  font-size: inherit;

  &__a {
    font-size: em(24px);
    font-weight: bold;
    text-transform: uppercase;
    
    @include respond-to(phone) {
      font-size: 16px;
    }
  }

  &__name {
    font-family: 'PT serif', serif;
    font-size: em(102px);
    color: $color-blue;
    
    @include respond-to(phone) {
      font-size: 56px;
      line-height: 1.2;
    }
  }
}

.form {
  position: relative;
  width: 360px;
  padding: 30px;
  color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  
  @include respond-to(tablet) {
    width: 100%;
  }

  &__header {
    text-align: center;
  }
  &__title {
    margin-bottom: 10px;
    font-size: rem(20px);
    font-weight: bold;
  }

  &__header, &__input, &__submit {
    margin-bottom: 20px;
  }

  &__button {
    width: 100%;
    background-color: rgba($color-orange, 1);
    border: none;

    &:hover, &:focus {
      background-color: rgba($color-orange, 0.8);
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-blue;
    opacity: 0.8;
    z-index: -1;
  }

  &__footer {
    font-size: rem(14px);
    color: rgba(#ffffff, .8);
  }

}

.input-group {
  &__field {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    color: #ffffff;

    &:focus {
      border-bottom-color: rgba(255,255,255,1);
    }
    &::placeholder {
      color: rgba(255,255,255,0.6);
    }
  }
}