.content {
  flex-grow: 1;
  display: flex;
  align-items: center;

  @include respond-to(tablet) {
    padding: 20px 0;
  }


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @include respond-to(tablet) {
      flex-direction: column;
    }
  }

  &__company-info {
    max-width: 660px;
    margin-right: 20px;

    @include respond-to(tablet) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  &__form {
    flex-basis: 30%;
    flex-shrink: 0;
  }
}

.company-info {  
  @include respond-to(desktop) {
    font-size: 15px;
  }
  @include respond-to(laptop) {
    font-size: 14px;
  }
  @include respond-to(phone) {
    font-size: 12px;
  }

  &__desc {
    font-size: em(28px);
    
    @include respond-to(phone) {
      font-size: 18px;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  font-size: inherit;

  &__a {
    font-size: em(24px);
    font-weight: bold;
    text-transform: uppercase;
    
    @include respond-to(phone) {
      font-size: 16px;
    }
  }

  &__name {
    font-family: 'PT serif', serif;
    font-size: em(102px);
    color: $color-blue;
    
    @include respond-to(phone) {
      font-size: 56px;
      line-height: 1.2;
    }
  }
}
