.form {
  &__header {
    text-align: center;
  }
  &__title {
    margin-bottom: 10px;
    font-size: rem(20px);
    font-weight: bold;
  }

  &__header, &__input, &__submit {
    margin-bottom: 20px;
  }

  &__button {
    width: 100%;
    background-color: rgba($color-orange, 1);
    border: none;

    &:hover, &:focus {
      background-color: rgba($color-orange, 0.8);
    }

    &_pending {
      background-color: gray;
      &:hover, &:focus  {        
        background-color: inherit;
      }
    }
  }

  &__footer {
    font-size: rem(14px);
    color: rgba(#ffffff, .8);
  }

}

.input-group {
  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    color: #ffffff;

    &:focus {
      border-bottom-color: rgba(255,255,255,1);
    }
    &::placeholder {
      color: rgba(255,255,255,0.6);
    }
  }
}