.header {
  &__mobile {
    box-sizing: border-box;
    display: none;
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba($color-blue, .1);
    // border-bottom: 1px solid rgba($color-blue, 0.5);

    @include respond-to(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba($color-blue, .5);

    
    @include respond-to(tablet) {
      display: none;
      flex-direction: column;

      &_active {
        display: flex;
      }
    }
  }

  &__contacts {
    margin-left: auto;
  }

  &__social {
    margin-left: 40px;
  }

  @include respond-to(tablet) {    
    &__container {
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      border: none;
      box-shadow: 0 4px 10px rgba($color-blue, .1);
    }

    &__logo, &__contacts {
      margin-bottom: 20px;
    }
    &__contacts, &__social {
      margin-left: 0;
    }
  }
}

.logo {
  display: block;
  width: 90px;
  height: 90px;

  @include respond-to(tablet) {
    display: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contacts {
  display: flex;
  align-items: center;
  font-weight: bold;

  &__icon {
    margin-right: 10px;

    .icon {
      width: 45px;
      height: 45px;
      fill: #f28500;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  &__communication {
    display: flex;
    flex-direction: column;
  }

  &__phone, &__email, &__social {    
    text-decoration: none;
  }

  &__phone {
    color: inherit;
    font-size: rem(20px);
    font-weight: bold;
  }
  &__email {
    color: inherit;
  }

  &__address {
  }

  &__social {
    background-color: $color-blue;
  }  
  
  @include respond-to(phone) {
    flex-direction: column;
    text-align: center;

    &__item {
      margin-left: 0;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }

    &__icon {
      display: none;
    }
  }
}

.social {
  &__svg {
    width: 40px;
    height: 40px;
    fill: $color-blue;
  }
}
.header-mobile {
  &__logo {
    width: 40px;
    height: 40px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__phone {
    width: 30px;
    height: 30px;
    margin-right: 15px;

    .icon {
      fill: $color-orange;
    }
  }
}

.menu-button {
  position: relative;
  display: block;
  width: 28px;
  height: 20px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1100;
  cursor: pointer;

  &_closed &__hamburger {
    background-color: transparent;
    &:before {
      top: -2px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  &__hamburger {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    color: $color-blue;
    background-color: $color-blue;
    transition: .3s;
  
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: currentColor;
      transform-origin: right center;
      transition: transform .3s;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  
  }
}
